.teamBox {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 8px 24px;
  max-width: 250px;
  width: 100%;
  border-radius: 16px;
  text-align: center;
  padding: 16px 8px 8px;
  display: grid;
}

.teamPhoto {
  width: 100%;
  max-width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
}

.teamName {
  margin: 8px 0 0;
  font-size: 24px;
}

.teamDescription {
  font-size: 16px;
  margin: 4px 0 0;
  color: rgba(0, 0, 0, 0.47);
}

.teamSocial {
  font-size: 32px;
  margin: 8px 0 16px;
  
  &:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .teamBox {
    margin: 8px;
  }
}