.footer-mobile{
	display: none;
}

.top-mobile-image{
	display: none;
}

footer{
	width: 100vw;
	background-color: #6e9872;
}

.footer-logo {
  width: 80%;
}

@media screen and (max-width: 580px){
	.top-desktop-image{
		display: none;
	
	}
	.top-mobile-image{
		display: block;
		width: 100%;
	}

	.footer-desktop{
		display: none;
	}

	.footer-mobile{
		margin-top: 2em;
		display: block;
	}
	
}